@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --primary: #8668FE;
    --secondary: #85D7FD;
    --html: #F2672E;
    --css: #32A9E3;
    --js: #F2BF26;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right top, var(--secondary), var(--primary));
    display: flex;
    align-items: center;
    justify-content: center;
}


/* card */

.card {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    display: flex;
    flex-wrap: wrap;
    min-height: 50vh;
    width: 40%;
    border-radius: 2rem;
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    box-shadow: cubic-bezier(0.4, 0.0, 0.2, 1);
    transition: transform 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.card:hover {
    -webkit-transform: scale(1.1) rotate(1deg);
    transform: scale(1.1) rotate(1deg);
}


/* IMAGE */

.card .mugshot {
    /* background: lightgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 50%;
}

.card img {
    height: 16rem;
    width: 16rem;
    border-radius: 100%;
    box-shadow: 3px 0 10px 6px rgb(134, 104, 254, 23%);
    border: .3rem solid white;
}


/* INFO */

.card .info {
    /* background: pink; */
    flex: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .info h1 {
    font-weight: 700;
    font-size: 3rem;
}

.card .info h2 {
    font-weight: 100;
    font-size: 1.3rem;
    margin-bottom: .4rem;
}

.card .info p {
    font-weight: 400;
}


/* SKILLS */

.card .skills {
    /* background: lightblue; */
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    flex: 100%;
    display: flex;
    border-radius: 2rem;
    align-items: center;
    justify-content: space-evenly;
    min-height: 8vh;
    flex-wrap: wrap;
    padding: 1rem;
}

.card .skills .skill {
    min-width: 10rem;
}

.card .skills .skill .bar {
    width: 100%;
    background-color: #ccc;
    border-radius: 10px;
}

.card .skills .skill .bar .lang {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.html {
    width: 95%;
    background-color: var(--html);
    animation-name: htmlBar;
    animation-iteration-count: 1;
    animation-duration: 2s;
}

@keyframes htmlBar {
    0% {
        width: 10%;
    }
    100% {
        width: 95%;
    }
}

.css {
    width: 90%;
    background-color: var(--css);
    animation-name: cssBar;
    animation-iteration-count: 1;
    animation-duration: 2s;
}

@keyframes cssBar {
    0% {
        width: 10%;
    }
    100% {
        width: 90%;
    }
}

.js {
    width: 35%;
    background-color: var(--js);
    animation-name: jsBar;
    animation-iteration-count: 1;
    animation-duration: 2s;
}

@keyframes jsBar {
    0% {
        width: 10%;
    }
    100% {
        width: 35%;
    }
}